/* Input the correct value base on the typography and add other needed properties */
body {
    background-color: #f8f9fa;
    font-family: Archivo;
} 
.payment-container { 
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: white;
}
.payment-header {
    text-align: center;
    font-family: Archivo;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-details {
    background: #eef1f6;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}
.payment-details img {
    width: 69;
    height: 69;
    top: 105px;
    left: 34px;
}

#payment-display {
	font-family: Archivo;
	font-weight: 500;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0%;

}

.total-amount {
    color: red;
    font-weight: bold;
}
.btn-confirm {
    width: 100%;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none; 
    font-size: 16px;
    color: #000; 
    padding-left: 0; 
}


.form-control::placeholder {
    color: #ccc;
    font-weight: 500;
}

/
.form-control:focus {
    border-bottom: 1px solid #000; 
    outline: none;
    box-shadow: none;
}

